* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  box-sizing: border-box;
  background: transparent;
  font-family: inherit;
  text-decoration: none;
}

ol,
ul,
li {
  list-style: none;
  display: block;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a,
img {
  border: none;
}

button,
a {
  cursor: pointer;
  color: inherit;
}

textarea {
  resize: none;
}

button,
input,
textarea,
select {
  appearance: none !important;
  -webkit-appearance: none !important; /* safari, opera, chrome miatt */
  border-radius: 0;
}

/* CSS reset */

* {
  font-family: "Roboto", sans-serif;
}

.navbar {
  width: 100%;
  height: 60px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;

  display: flex;
  justify-content: space-around;
  align-items: center;

  background-color: rgba(128, 128, 128, 0.114);
  border-bottom: 2px solid gray;
}

.flex-container {
  width: 100%;
  margin: 100px auto;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
